
.goaldesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.tanAddGoal {
  display:none;
}
.vanillaForm {
  display: flex;
  flex-direction: column;
  margin-top: -10vh;
  width: 50vw;
}
.vanillaForm label {
  font-family: "Open Sans", sans-serif;
}
.vanillaForm select {
  font-family: "Open Sans", sans-serif;
  border-color: darkseagreen;
}
.vanillaForm input {
  border-color: darkseagreen;
}
.vanillaForm button {
  font-family: "Open Sans", sans-serif;
  color: rgb(77, 92, 77);
  background-color: darkseagreen;
}
#addGoalButton {
  width: 20vw;
  border-radius: 2%;
  border: black solid 1px;
  font-family: "Open Sans", sans-serif;
  color: rgb(77, 92, 77);
  background-color: darkseagreen;
}

.itemDisplay{
  list-style-type: none;
}

.twotanAddGoal{

  display: flex;
  flex-direction: row;
  margin-left: 10vw;
}


#clickedmenu{
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
}
/* .logo{
  height: 60vh;
  width:auto;
} */
.intro{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
}
.intro h1{
font-family:'Raleway', sans-serif;
}
.intro h2{
  font-family: 'Montserrat', sans-serif;
  }

  /* hamburger menu */
  .x {
    float: right;
    margin-top: 5%;
    margin-right: 10%;
    height: 3vh;
    width: 1vw;
  }
  .x:hover {
    color: white;
  }
  .hamburgerMenu {
    width: 25vw;
    height: 100vh;
    padding-top: 3%;
    background-color: #afd18e;
    font-family:'Raleway', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 1000;
    transform: translate3d(-100vw, 0, 0);
  }
  /* .hamburgerMenutwo {
    width: 25vw;
    height: 100vh;
    font-family:'Raleway', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 1000;
   transform: translate3d(-100vw, 0, 0);
  }  */
  #clickedmenu {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
  /* .hamburger ul{
    display: flex;
    flex-direction: column;
  } */
  .hamburgerMenu li {
    list-style-type: none;
    padding: 20px;
    color: black;
  }
  .hamburgerMenu li:hover {
  
    /* padding: 20px; */
    color: white;
  }
  .logo {
    height: 40vh;
    width: auto;
    display: flex;
    align-items: center;
    /* margin-top: 20%; */
    /* top: -90px;
    margin-left: 1.5vw; */
  }
  .checklogo{
    height: 40vh;
    width:auto;
    /* position: fixed; */
    top: 0;
    right: 0;
 
  }

  .homebody{
    /* margin-top: 5%; */
    display: flex;
    /* justify-content: space-between; */
    font-family: raleway;
    font-size: 25px;
  }
.bodytext{
  width: 50%;
  padding-left: 8%;
}
.bodytexttwo{
  width: 50%;
  /* padding: 12%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.makelist{
display:inline-block;
padding:0.5em 3em;
border:0.16em solid black;
margin:0 0.3em 0.3em 0;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-family: 'raleway';
font-size: 20px;
background-color: white;
font-weight:400;
color:rgb(3, 2, 2);
text-align:center;
transition: all 0.15s;
}
.makelist:hover{
  background-color:  RGB(220, 222, 220);
  color:white
}
#tick-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#tick-mark::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: black;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

#tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: black;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}